<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ToolBox</title>
    <script src="https://unpkg.com/htmx.org"></script>
  </head>

  <body>
    <h1>Hello world</h1>
    <label for="feature">
        Feature
    </label>
    <select
      name="feature"
      hx-trigger="load,change"
      hx-get="/feature"
      hx-swap="innerHMTL"
      hx-target="#feature-page"
    >
      {% for f in features %}
      <option value="{{loop.index0}}">{{ f.name }}</option>
      {% endfor %}
    </select>
    <div id="feature-page"></div>
    <div id="feature-result"></div>
  </body>
</html>
