<h1>Skew</h1>
<form hx-trigger="change,submit" hx-post="/skew" hx-swap="innerHMTL" hx-target="#feature-result"
    enctype="multipart/form-data">
    <div x-data="{ fileInput: false }">
        <div class="filetoggle">
            <label for="fileInput">Use file input</label>
            <input type="checkbox" class="switch" x-model="fileInput" name="isFileInput" />
        </div>
        <label for="genome">Genome</label>
        <template x-if="!fileInput">
            <textarea name="genome" type="text" placeholder=""> </textarea>
        </template>
        <template x-if="fileInput">
            <input type="file" name="genome" />
        </template>
    </div>
    <select name="symbol">
        <option>A</option>
        <option>T</option>
        <option>C</option>
        <option>G</option>
    </select>
</form>
